<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="https://www.elfinanciero.com.mx/resizer/khI5LlJONnvtYbKqXfftI_O3iCA=/400x225/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/elfinanciero/OJAOAIGRXRBENIFUK55AKFQIUY.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
